<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/criarConta-styles.css">
  <title>Document</title>
</head>
<body>
  <h1 class="titulo">Crie sua conta no  </h1>
  <h2>MasterChedd</h2>

<form class="formulario" action="/cadastro" method="POST">


<label for="nome">Nome</label>
<input class="mudaCor" type="text" id="nome" name="nome" required placeholder="Digite o nome de usuario" >

<label for="email">Email</label>
<input type="text" id="email" name="email" required  placeholder="Digite o seu Email">

<label for="password">Senha</label>
<input type="password" id="senha" name="senha" required placeholder="Crie uma senha forte">

<button type="submit">Criar conta</button>

<p>Já possui conta? <a href="/login">Entrar agora mesmo</a></p>

</body>
</html>