<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="eventos">
        <p class="fraseeventos">Fique de olho nos eventos que temos disponíveis para você 👀👀</p>
        <div>
            <ul>
                <a href="/criareventos">Criar um evento</a>
                <p class="tituloeventos">Eventos</p>
                <li>
                    <strong>Nome:</strong> Máquina do tempo
                    <strong>Data:</strong> 26/12/2024
                    <strong>Horário:</strong> 13h à 18h
                </li>
            </ul>
        </div>
    </div>
</body>

</html>