<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles/eventos-styles/eventos-desk.css">
    <link rel="stylesheet" href="styles/eventos-styles/eventos-mobile.css">
    <link rel="stylesheet" href="styles/eventos-styles/eventos-tablet.css">

    <title>Eventos MasterChedd</title>
</head>

<body>
    <div class="eventos">
        <p class="tituloeventos">Eventos</p>
        <p class="fraseeventos">Fique de olho nos eventos que temos disponíveis para você. 👀👀</p>
        <div>
            <ul>
                <a href="/criar-eventos">Criar um evento</a>
                
                <li class="listagemdeeventos">
                    <strong>Nome:</strong> Máquina do tempo
                    <strong>Data:</strong> 26/12/2024
                    <strong>Horário:</strong> 13h à 18h
                </li>
            </ul>
        </div>
    </div>
</body>

</html>