<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/home-styles.css">
  <title>MasterChedd</title>
</head>

<body>
  <header class="header-container">
    <section class="logo"><span style="color: #EBA742;">Master</span>Chedd</section>
    <section class="nav-bar">
      <img class="icons" src="images/icons/pesquisa.png">
      <a href="/carrinho"><img class="icons" src="images/icons/carrinho.png"></a>
      <a class="btn" href="/login">login</a>
    </section>
  </header>

  <main class="main-container">
    <section class="frase">
      <p><span style="color: #EBA742;">Estação do Sabor.</span></p>
      <p>Pratos diversificados <br> e drinks <br> personalizados.</p>
    </section>

    <section class="container-ptdia">
      <!-- PRATO DO DIA -->
      <section class="titulo-container">
        <h1>Pratos do dia</h1>
      </section>

      <section class="organzando-caixa">

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/frango.webp">
          </div>

          <div class="caixa-info">
            <p>Frango assado</p>
            <small> - Frango assado ao molho de batatas e vegetais cozidos.</small>
            <span>R$ 45,95</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>

            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/pastel.jpg">
          </div>

          <div class="caixa-info">
            <p>Porção</p>
            <small> - Mini pasteis de camarão com molho branco.</small>
            <span>R$ 39,00</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/macarrão.jpg">
          </div>

          <div class="caixa-info">
            <p>Noodle</p>
            <small> - Massa com molho de carne moida e queijo parmesão.</small>
            <span>R$ 35,90</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/macarrão.jpg">
          </div>

          <div class="caixa-info">
            <p>Noodle</p>
            <small> - Massa com molho de carne moida e queijo parmesão.</small>
            <span>R$ 35,90</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/macarrão.jpg">
          </div>

          <div class="caixa-info">
            <p>Noodle</p>
            <small> - Massa com molho de carne moida e queijo parmesão.</small>
            <span>R$ 35,90</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="caixa">
          <div class="caixa-img">
            <img src="images/background/macarrão.jpg">
          </div>

          <div class="caixa-info">
            <p>Noodle</p>
            <small> - Massa com molho de carne moida e queijo parmesão.</small>
            <span>R$ 35,90</span>
          </div>

          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

      </section>
    </section>

    <section class="menu">
      <!-- MENU -->
      <img src="/images/background/image-menu.png">
      <a href="/menu">MENU</a>
    </section>

    <section class="menu-container">
      <!-- MENU DE ESCOLHA -->
      <div class="container-opcoes">
        <img class="container-img" src="images/background/imageporcao.png">
        <a class="container-bt" href="/porcoes">Porçoes</a>
      </div>

      <div class="container-opcoes">
        <img class="container-img" src="images/background/imagesobremesa.png">
        <a class="container-bt" href="/sobremesas">Sobremesas</a>
      </div>

      <div class="container-opcoes">
        <img class="container-img" src="images/background/imageBebidas.png">
        <a class="container-bt" href="/bebidas">Bebidas</a>
      </div>

    </section>

  </main>

  <footer class="footer-container">
    <!-- FAZER ESTILO DO FOOTER -->
    <div class="container-info">
      <p class="informacao"><img class="icones" src="images/icons/telefone.png"> + 055 16 99625-6589</p>
      <p class="informacao"><img class="icones" src="images/icons/local.png"> Av.Brasil - Centro - 452 </p>
    </div>

    <img class="iconesredes" src="images/icons/redes.png">
    <p class="Master">MasterCheddOficial</p>
  </footer>
</body>

</html>