<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index-styles.css">
  <title>MasterChedd</title>
</head>

<body>
  <header class="header-container">
    <div class="logo"><span style="color: #EBA742;">Master</span>Chedd</div>
    <div>
      <a href="/carinho"></a>
      <input type="text" placeholder="Pesquisar">

      <a class="btn" href="/login">login</a>
      <a class="btn" href="/register">register</a>
    </div>
  </header>

  <main class="main-container">
    <section class="frase">
      <p><span style="color: #EBA742;">Estação do Sabor.</span></p>
      <p>Pratos</p>
      <p>diversificados e</p>
      <p>drinks</p>
      <p>personalizados.</p>
    </section>

    <section>
      <!-- PRATO DO DIA -->
       
    </section>

    <section>
      <!-- MENU -->

    </section>

    <section>
      <!-- MENU DE ESCOLHA -->

    </section>

  </main>

  <footer class="footer-container">
    <!-- FAZER ESTILO DO FOOTER -->

  </footer>
</body>

</html>