<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index-styles.css">
  <title>MasterChedd</title>
</head>

<body>
  <header class="header-container">
    <section class="logo"><span style="color: #EBA742;">Master</span>Chedd</section>
    <section class="nav-bar">
      <img class="icons" src="images/icons/pesquisa.png">
      <a href="/carinho"><img class="icons" src="images/icons/carrinho.png"></a>
      <a class="btn" href="/login">login</a>
    </section>
  </header>

  <main class="main-container">
    <section class="frase">
      <p><span style="color: #EBA742;">Estação do Sabor.</span></p>
      <p>Pratos diversificados <br> e drinks <br> personalizados.</p>
    </section>

    <section class="do-dia-horizontal">
      <!-- PRATO DO DIA -->
      <h1 class="titulo">Pratos do dia</h1>
      
      <section class="organzando-caixa">
        <div class="caixa">
          <img class="frango" src="images/background/frango.webp">
          <p class="nomedoprato">Frango assado</p>
          <small class="ingredientes"><b>.</b> Frango assado ao molho de batatas e vegetais cozidos.</small>
          <p class="preco">R$ 45,95</p>
          <img class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
            class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png">
          <button>Adicionar</button>
        </div>

        <div class="caixa">
          <img class="pastel" src="images/background/pastel.jpg">
          <p class="nomedoprato">Porção </p>
          <small class="ingredientes"><b>.</b> Mini pasteis de camarão com molho branco.</small>
          <p class="preco">R$ 39,00</p>
          <img class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
            class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png">
          <button>Adicionar</button>
        </div>

        <div class="caixa">
          <img class="macarrão" src="images/background/macarrão.jpg">
          <p class="nomedoprato">Noodle</p>
          <small class="ingredientes"><b>.</b> Massa com molho de carne moida e queijo parmesão.</small>
          <p class="preco">R$ 35,90</p>
          <img class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
            class="estrela" src="images/background/estrela.png"><img class="estrela"
            src="images/background/estrela.png">
          <button>Adicionar</button>
        </div>
      </section>
    </section>

    <section class="menu">
      <!-- MENU -->
      <img src="/images/background/image-menu.png">
      <a href="/menu">MENU</a>
    </section>

    <section class="menu-container">
      <!-- MENU DE ESCOLHA -->
      <div class="container-opcoes">
        <img class="container-img" src="images/background/imageporcao.png">
        <a class="container-bt" href="/porcoes">Porçoes</a>
      </div>

      <div class="container-opcoes">
        <img class="container-img" src="images/background/imagesobremesa.png">
        <a class="container-bt" href="/sobremesas">Sobremesas</a>
      </div>

      <div class="container-opcoes">
        <img class="container-img" src="images/background/imageBebidas.png">
        <a class="container-bt" href="/bebidas">Bebidas</a>
      </div>

    </section>

  </main>

  <footer class="footer-container">
    <!-- FAZER ESTILO DO FOOTER -->
    <div>
      <img class="icones" src="images/icons/telefone.png">
      <p class="informacao">+ 055 16 99625-6589</p> <img class="icones" src="images/icons/local.png">
      <p class="informacao">Av.Brasil - Centro - 452 </p>

      <img class="iconesredes" src="images/icons/redes.png">
      <small class="informacao"><p class="Master">Master</p>CheddOficial</small>
    </div>
  </footer>
</body>

</html>