<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index-styles.css">
  <title>MasterChedd</title>
</head>

<body>
  <header class="header-container">
    <section class="logo"><span style="color: #EBA742;">Master</span>Chedd</section>
    <section class="nav-bar">
      <img class="icons" src="images/icons/pesquisa.png">
      <a href="/carinho"><img class="icons" src="images/icons/carrinho.png"></a>
      <a class="btn" href="/login">login</a>
    </section>
  </header>

  <main class="main-container">
    <section class="frase">
      <p><span style="color: #EBA742;">Estação do Sabor.</span></p>
      <p>Pratos diversificados <br> e drinks <br> personalizados.</p>
    </section>

    <section>
      <!-- PRATO DO DIA -->
  
    </section>
    <div class="pratosdodia">
      <h1 class="titulo">Pratos do dia</h1>
      <div class="caixa01">
        <img class="frango" src="images/background/frango.webp">
        <p class="nomedoprato">Frango assado</p>
        <small class="ingredientes"><b>.</b> Frango assado ao molho de batatas e vegetais cozidos.</small>
        <p class="preco">R$ 45,95</p>
        <img class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
          class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png">
          <button>Adicionar</button>
      </div>

      <div class="caixa02">
        <img class="pastel" src="images/background/pastel.jpg">
        <p class="nomedoprato">Porção </p>
        <small class="ingredientes"><b>.</b> Mini pasteis de camarão com molho branco.</small>
        <p class="preco">R$ 39,00</p>
        <img class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
          class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png">
          <button>Adicionar</button>
      </div>

      <div class="caixa03">
        <img class="macarrão" src="images/background/macarrão.jpg">
        <p class="nomedoprato">Noodle</p>
        <small class="ingredientes"><b>.</b> Massa com molho de carne moida e queijo parmesão.</small>
        <p class="preco">R$ 35,90</p>
        <img class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png"><img class="estrela" src="images/background/estrela.png"><img
          class="estrela" src="images/background/estrela.png"><img class="estrela"
          src="images/background/estrela.png">
          <button>Adicionar</button>
      </div>
    </div>
    <section>
      <!-- MENU -->

    </section>

    <section class="menu-container">
      <!-- MENU DE ESCOLHA -->
      <div class="dvporcoes">
        <img class="porcoes" src="images/background/imageporcao.png">
        <br>
        <a class="btporcoes" href="/porcoes">Porçoes</a>
    </div>
    
    <div class="dvbebidas">
        <img class="sobremesas" src="images/background/imagesobremesa.png">
        <br>
        <a class="btsobremesas" href="/sobremesas">Sobremesas</a>
    </div>
    
    <div class="dvbebidas">
        <img class ="bebidas" src="images/background/imageBebidas.png">
        <br>
        <a class="btbebidas" href="/bebidas">Bebidas</a>
    </div>

    </section>

  </main>

  <footer class="footer-container">
    <!-- FAZER ESTILO DO FOOTER -->
    
  </footer>
</body>

</html>