<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  
  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">

  <link rel="stylesheet" href="styles/login-styles/login-mobile.css">
  <link rel="stylesheet" href="styles/login-styles/login-tablet.css">
  <link rel="stylesheet" href="styles/login-styles/login-desk.css">
  
  <title>Login MasterChedd</title>
</head>

<body>
  <div class="login">
    <form action="/autenticar" method="post">
      <h1 style="color: azure;">Login</h1>

      <label for="email">E-mail</label>
      <input id="email" type="email" name="email" placeholder="Digite seu email" />

      <label for="password">Senha</label>
      <input id="senha" type="password" name="senha" placeholder="Digite sua senha" />

      <button type="submit">Continuar</button>

      <p style="color: #fff; font-size: 14px;">Não possui conta? <a href="/criar-conta">Criar conta</a></p>
    </form>
  </div>
</body>

</html>