<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/menu-styles.css">
  <title>Document</title>
</head>
<body>
  
  <header class="header-container">
    <section class="logo"><span style="color: #EBA742;">Master</span>Chedd</section>
    <section class="nav-bar">
      <a href="/carrinho"><img class="icons" src="images/icons/carrinho.png"></a>
      <a class="btn" href="/login">login</a>
    </section>
  </header>

  <main>
    <section class=" conteiner-menu">
      <input class="search" type="text" placeholder="Pesquisar">
      <div class="etiqueta">Entradas</div>
      <div class="etiqueta">Japonesa</div>
      <div class="etiqueta">Hamburguer</div>
      <div class="etiqueta">Variedades</div>
      <div class="etiqueta">Risotos</div>
      <div class="etiqueta">Saladas</div>
      <div class="etiqueta">Sobremesas</div>
      <div class="etiqueta">Bebidas</div>
    </section>

  </main>
</body>
</html>