<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/menu-styles/menu-desk.css">
  <link rel="stylesheet" href="styles/menu-styles/menu-mobile.css">
  <link rel="stylesheet" href="styles/menu-styles/menu-tablet.css">


  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
  <title>Menu MasterChedd</title>
</head>

<body>

  <header class="header-container">
    <section class="logo"><span style="color: #EBA742;">Master</span>Chedd</section>
    <section class="nav-bar">
      <a href="/sacola"><i class="fa-solid fa-bag-shopping"></i></a>
      <a class="btn" href="/login">login</a>
    </section>
  </header>

  <main>
    <section class="container-menu">
      <section class="header-menu">
        <p>Bebidas</p>
        <hr>
      </section>

      <section class="container-itens">

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

        <section class="itens">
          <section class="card-itens">
            <img src="images/pratos/saladas/legumes-grelhados-com-tiras-de-frango-no-azeite.jpg">
            <p class="titulo-card">Legumes Grelhados Com Tiras De Frango</p>
            <small class="descricao-card"> - Legumes grelhados com tiras de frango no azeite.</small>
            <span class="preco-card">R$ 45,95</span>
          </section>
          <div class="avaliacao-container">
            <div class="avaliacao">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="btn-adicionar">
              <button>Adicionar</button>
            </div>
          </div>
        </section>

      </section>


  </main>
</body>

</html>