<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva MasterChedd</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles/reserva-styles/reserva-mobile.css">
    <link rel="stylesheet" href="styles/reserva-styles/reserva-tablet.css">
    <link rel="stylesheet" href="styles/reserva-styles/reserva-desk.css">


</head>

<body>
    <h1 class="title">Res4545</h1>

    <form>


        <button type="submit">1515465461651</button>
    </form>
</body>

</html>