<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/sacola-styles/sacola-desk.css">
  <link rel="stylesheet" href="styles/sacola-styles/sacola-mobile.css">
  <link rel="stylesheet" href="styles/sacola-styles/sacola-tablet.css">

  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
  <title>Carrinho MasterChedd</title>
</head>

<body>
  <main class="caixona">
    <section class="titulo-carrinho">
      <h1>Seu pedido</h1>
    </section>

    <section class="container-info">

      <section class="caixa-pedido">

        <section class="card-item">
          <section class="caixa-img">
            <img src="images/pratos/bebidas/agua-com-gas-com-limao.jpg">
          </section>
        </section>


        <section class="card-item">
          <section class="caixa-img">
            <img src="images/pratos/bebidas/agua-com-gas-com-limao.jpg">
          </section>

        </section>

      </section>

      <section class="caixa-pagamento">

        <form>
          <label for="formasdepagamento">Qual a forma de Pagamento?</label>
          <input list="formasdepagamento" placeholder="Forma de pagamento">
          <datalist id="formasdepagamento">
            <option value="Pix"></option>
            <option value="Cartão"></option>
            <option value="Dinheiro"></option>
          </datalist>

          <label for="observacao">Deseja adicionar alguma observação?</label>
          <input type="observacao" name="observacao" id="observacao" placeholder="Observação">
          <button type="submit">Finalizar pedido</button>
 
          <a href="/menu">Continuar comprando</a>
        </form>

      </section>

    </section>

    <section class="titulo-total">
      <p>Total:</p>
    </section>
  </main>

</body>

</html>