<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/sacola-styles/sacola-mobile.css">
  <link rel="stylesheet" href="styles/sacola-styles/sacola-tablet.css">

  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
  <title>Carrinho MasterChedd</title>
</head>

<body>
  <h1 class="titulo">Seu pedido</h1>


  <form class="pedidos">
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
    <section class="pedido">
      <h1>- Suco de limão com hortelã e rodelas.</h1>
      <button class="addButton" id="addButton">+</button><span id="quantity">0</span>
      <button class="addButton" id="subtractButton">-</button>
      <div class="result" id="result"></div>
      <div class="linha"></div>
    </section>
  </form>


  <form class="pagamento">
    <h1 class="total">Total:</h1>
    <label for="formasdepagamento">Qual a forma de pagamento?</label>
    <input class="formaPagamento" list="formasdepagamento" id="pagamento" placeholder="Insira aqui">
    <datalist id="formasdepagamento">
      <option value="Pix"></option>
      <option value="Cartão"></option>
    </datalist>

    <script>
      const pagamentoInput = document.getElementById('pagamento');

      pagamentoInput.addEventListener('input', function () {
        if (pagamentoInput.value === 'Pix') {
          alert('CHAVE PIX: 16 99625-6589');
        }
      });
    </script>

    <label for="observacao">Adicione uma observação</label>
    <input type="observacao" name="observacao" id="observacao" placeholder="Escreva aqui">
    <button type="submit">Finalizar pedido</button>
  </form>

  <script>
    let quantity = 0;

    const quantityDisplay = document.getElementById('quantity');
    const resultDisplay = document.getElementById('result');
    const addButton = document.getElementById('addButton');
    const subtractButton = document.getElementById('subtractButton');

    addButton.addEventListener('click', () => {
      quantity++;
      updateDisplay();
    });

    subtractButton.addEventListener('click', () => {
      if (quantity > 0) {
        quantity--;
      }
      updateDisplay();
    });

    function updateDisplay() {
      quantityDisplay.textContent = quantity;
      //const preço = preco-card;
      const resultado = quantity * 14.99;
      resultDisplay.textContent = resultado.toFixed(2);
    }
  </script>
</body>

</html>