
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   body {
    height: 100vh;
    background-color: #353535;
    font-family: 'Inter', sans-serif;
    
  }

  /* ⬇︎ ESTILIZAÇÃO DO HEADER ⬇︎ */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(10deg, #0000004d, #c978006c);
  backdrop-filter: blur(10px);
  border-bottom: #EBA742 1px solid;
  box-shadow: #000000 0px 5px 15px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: default;
  margin-left: 10px;
}

.menu-mobile {
  position: relative;
  z-index: 2;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}


.mobile-nav-list {
  display: none;
  width: 150px;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #353535;
  border: 1px solid #EBA742;
  border-radius: 5px;
  z-index: 1000;
}

.mobile-nav-list.active {
  display: block;
}

.mobile-nav-list li {
  padding: 5px;
}

.mobile-nav-list li:hover {
  background-color: #EBA742;
}

.mobile-nav-list a {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  display: block;
}

.mobile-nav-list a:hover {
  background-color: #EBA742;
}

.nav-bar {
  display: none;
}
  /* ⬆︎ ESTILIZAÇÃO DO HEADER ⬆︎ */
  
  

/* itens  */
.caixa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 125px 125px 50px;

  width: 250px;
  height: 300px;
  background-color: rgb(43, 43, 43);

  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #EBA742;
  cursor: default;

  transition: 0.3s;
}

.caixa:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.caixa-img {
  grid-column: 1 / 4;
  height: 100%;
}

.caixa-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-right: 1px solid #EBA742;
}

.caixa-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  grid-column: 1 / 4;
}

.caixa-info p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #fff;
  margin: 10px 0px;
  text-align: center;
}

.caixa-info small {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #EBA742;
  padding: 0 5px 0 5px;
  margin-left: 5px;
}

.caixa-info span {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #ffffff;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}

.avaliacao-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  grid-column: 1 / 4;
}

.avaliacao {
  direction: rtl;
  display: inline-flex;
  font-size: 15px;
  gap: 2px;
}

.avaliacao input[type="radio"] {
  display: none;
}

.avaliacao label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.avaliacao label:hover,
.avaliacao label:hover~label,
.avaliacao input[type="radio"]:checked~label {
  color: #EBA742;
}

.btn-adicionar button {
  border: 1px solid #EBA742;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  background-color: #00000000;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-adicionar button:hover {
  background-color: #EBA742;
  transform: scale(1.02);
  transition: 0.3s;
}

.avaliacao-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  grid-column: 1 / 4;
}

.avaliacao {
  direction: rtl;
  display: inline-flex;
  font-size: 15px;
  gap: 2px;
}

.avaliacao input[type="radio"] {
  display: none;
}

.avaliacao label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.avaliacao label:hover,
.avaliacao label:hover~label,
.avaliacao input[type="radio"]:checked~label {
  color: #EBA742;
}

.btn-adicionar button {
  border: 1px solid #EBA742;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  background-color: #00000000;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-adicionar button:hover {
  background-color: #EBA742;
  transform: scale(1.02);
  transition: 0.3s;
}


/* section */


.container-menu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-menu {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: #EBA742;
  font-family: 'Inter', sans-serif;
}

.header-menu p,
hr {

  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.header-menu hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #EBA742, rgba(0, 0, 0, 0));
}

/* section  */
.container-itens {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  justify-items: center;
  gap: 35px;
}

::-webkit-scrollbar {
  width: 9px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #EBA742;
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bb8a40;
}




