@media (min-width: 1093px) {
  .menu-mobile {
    display: none;
  }

  .logo {
    font-size: 25px;
  }

  .nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 50px;
  }

  .nav-bar a {
    border: 1px solid #EBA742;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: 0.3s;

    & div {
      display: inline;
      /* margin-left: 5px; */
      font-size: 15px;
      font-weight: 900;
    }
  }

  .nav-bar a:hover {
    background-color: #EBA742;
    color: #ffffff;
    transform: scale(1.05);
    transition: 0.3s;
  }


  .container-itens {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

}