* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #353535;
  font-family: 'Inter', sans-serif;
  
}

/* header */
.icons {
  width: 30px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-left: 50px;
  cursor: default;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.219);
  backdrop-filter: blur(10px);
  border-bottom: #EBA742 1px solid;
  box-shadow: #000000 0px 5px 15px;
}

.btn {
  border: 1px solid #EBA742;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.219);
  backdrop-filter: blur(10px);
  border-bottom: #be780e 1px solid;
  box-shadow: #000000 0px 5px 15px;
}

.nav-bar {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 50px;
}

.nav-bar a {
  border: 1px solid #EBA742;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.nav-bar a:hover {
  background-color: #EBA742;
  color: #ffffff;
  transform: scale(1.05);
  transition: 0.3s;
}

/* itens  */
.itens {
  border: 2px solid #EBA742;
  width: 250px;
  height: 300px;
  overflow: hidden;
  margin-top: 30px;
  border: 2px, solid #EBA742;
  font-family: 'Inter', sans-serif;
  border-radius: 7px;
  transition: 0.3s;
}

.itens:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.itens img {
  width: 100%;
  height: 50%;
}

.card-itens {
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.titulo-card {
  margin-top: 3px;
  margin-left: 3px;
  color: #e6e6e6;
  font-size: 15px;
}

.preco-card {
  color: #ffffff;
  margin-left: 10px;
  font-size: 15px;
}

.descricao-card {
  color: #EBA742;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 12px;
}

.avaliacao-container {
  color: #EBA742;
  width: 100%;
  height: 10%;
  display: flex;
}

.avaliacao {
  width: 60%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.btn-adicionar {
  color: #ffffff;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-adicionar button {
  border: 1px solid #EBA742;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  background-color: #00000000;
  margin-right: 10px;
  padding: 5px 15px;
}

/* section */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container-menu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-menu {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: #EBA742;
  font-family: 'Inter', sans-serif;
}

.header-menu p,
hr {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.header-menu hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #EBA742, rgba(0, 0, 0, 0));
}

/* section  */
.container-itens {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  justify-items: center;
  gap: 35px;
}